.related {
  .related__container {
    .related__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      .related__title {
        color: #000;
        font-family: Poppins;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        @media (max-width: 600px) {
          font-size: 24px;
        }
      }
      .related__slider {
        margin-left: -20px;
      }
    }
  }
}

.carousel-container {
  //   min-width: 1256px;
  //   max-width: 1256px;
  width: 1256px;
  @media (max-width: 1260px) {
    width: 950px;
  }
  @media (max-width: 1000px) {
    width: 620px;
  }
  @media (max-width: 670px) {
    width: 350px;
  }
  @media (max-width: 490px) {
    width: 300px;
  }
}

.custom-dot-list-style {
  transform: none;
  transition: none;
}
