.related {
  .related__container {
    .related__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      .related__title {
        color: #000;
        font-family: Poppins;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      .related__slider {
        margin-left: -20px;
      }
    }
  }
}

.carousel-container {
  //   min-width: 1256px;
  //   max-width: 1256px;
  width: 1256px;
}

.custom-dot-list-style {
  transform: none;
  transition: none;
}
