.our-products__container {
  margin-top: 40px;
  .our-products__content {
    .our-products__text {
      display: flex;
      justify-content: center;
      margin-bottom: 40px;
      .our-products__title {
        font-size: 40px;
        font-weight: 700;
        color: #3a3a3a;
      }
    }
    .our-products__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: -15px;
    }
    .our-products__all {
      margin: 30px 0;
      display: flex;
      justify-content: center;
      .our-products__btn {
        border: 1px solid #21375d;
        background: #fff;
        padding: 12px 80px;
        .our-products__btn-link {
          color: #21375d;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 150%; /* 24px */
        }
      }
    }
  }
}
