.product-page__tabs {
  padding: 40px 0 60px 0;
  border-bottom: solid 1px #9f9f9f;
  .tabs__container {
  }
}

.react-tabs {
  display: flex;
  flex-direction: column;
}

.react-tabs__tab-list {
  width: 960px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 37px;

  justify-content: space-around;
  align-items: center;
}

.react-tabs__tab {
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  .tab-title-on {
    color: #000;
  }
  .tab-title-off {
    color: #9f9f9f;
  }
}

.react-tabs__tab-panel {
  color: #9f9f9f;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.product-tab__content {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  .product-tab__img {
    flex: 0 1 50%;
    img {
      width: 600px;
      height: 350px;
      border-radius: 10px;
      object-fit: cover;
    }
  }
}
