@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

.header {
  // border-bottom: 3px solid #898989;
}

.header__container {
  .header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    .header__logoname {
      font-size: 34px;
      font-weight: 700;
      font-family: "poppins";
      cursor: pointer;
    }
    .header__menu {
      width: 430px;

      .menu__cont {
        display: flex;

        justify-content: space-between;
        .menu__item {
          cursor: pointer;
          position: relative;
          .menu__link {
            font-size: 16px;
            font-weight: 500;
            font-family: "poppins";
            color: #000;
            line-height: 150%;
          }
        }
      }
    }
    .header__cart-btn {
      cursor: pointer;
      position: relative;
      img {
        width: 28px;
      }
    }
  }
}

.items-quantity {
  font-weight: 700;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #21375d;
  color: #fff;
  position: absolute;
  top: 17px;
  left: -8px;
}

.menu__item::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #21375d;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.menu__item:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
